@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
  --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte-2: 'Passion One', cursive;
  --fonte-3: 'Sriracha', cursive;
}

.linkStyled {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.linkStyled:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  height: 15em;
  text-align: center;
}

header h1 {
  color: white;
  font-family: var(--fonte-2);
  font-size: 10vw;
  font-variant: small-caps;
}

header p {
  color: white;
  font-family: var(--fonte-1);
  font-size: 1em;
}

section {
  padding-left: 30px;
}

section p {
  padding: 10vh 0;
  font-family: var(--fonte-3);
  font-size: 3vw;
}

.paralax {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10vh 30px;
}

.paralax p {
  background-color: rgba(0, 0, 0, 0.253);
  width: 400px;
  padding: 0;
}

footer {
  font-family: var(--fonte-1);
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
