@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: beige;
}

body {
  background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
  background-size: cover;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cellphone {
  width: 311px;
  height: 627px;
  background-image: url('../imagens/frame-iphone.png');
  background-repeat: no-repeat;
}

#cellphone iframe {
  overflow: scroll;
}

#social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
}

#social a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

#social a {
  margin: 5px 5px;
  transition-duration: 0.5s;
}

#social a:hover {
  transform: translate(-5px, -5px);
}

#social a img:hover {
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

#tela {
  position: relative;
  left: 22px;
  top: 80px;
  width: 267px;
  height: 471px;
}
