@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
}

body {
  background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
  background-size: cover;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cellphone {
  width: 311px;
  height: 627px;
  background-image: url('../imagens/frame-iphone.png');
  background-repeat: no-repeat;
}

#social {
  position: absolute;
}
