@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.item {
  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow: 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  background-color: azure;
}

#item1 {
  flex-grow: 1;
}

#item2 {
  flex-shrink: 0;
}

#item3 {
  flex-shrink: 0;
}

#item4 {
  flex-grow: 1;
}

#item5 {
  flex-shrink: 0;
}

#item6 {
  flex-shrink: 0;
}

#item7 {
  flex-grow: 1;
}
