@charset "UTF-8";

:root {
  --color1: #49a09d;
  --color2: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  html,
  body {
    background-image: linear-gradient(0deg, var(--color1), var(--color2));
  }

  section#login {
    width: 80vw;
  }

  #imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  #form {
    float: right;
    width: 70%;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  html,
  body {
    background-image: linear-gradient(0deg, var(--color1), var(--color2));
  }

  section#login {
    width: 950px;
  }

  #imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  #form {
    float: left;
    width: 50%;
    height: 100%;
  }
}
