@charset "UTF-8";

:root {
  --color1: #49a09d;
  --color1dark: #2d615f;
  --color2: #5f2c82;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color2);
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

i {
  vertical-align: middle;
}

section#login {
  display: block;
  width: 250px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.45);
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

#login h1 {
  text-align: center;
}

#login p {
  font-size: 0.8em;
}

#imagem {
  display: block;
  height: 200px;
  background: var(--color2) url('../images/pexels-andre-furtado-370717.jpg')
    no-repeat center center;
  background-size: cover;
}

#form {
  display: block;
  padding: 10px;
}

.campo {
  display: block;
  background-color: var(--color2);
  margin: 5px 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.campo i {
  display: inline-block;
  width: 15%;
  text-align: center;
  font-size: 2em;
}

.campo input {
  display: inline-block;
  width: 80%;
  height: 100%;
  padding: 0 3px;
}

.campo label {
  display: none;
}

#form input[type='submit'] {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--color1);
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition-duration: 0.5s;
}

#form input[type='submit']:hover {
  background-color: var(--color1dark);
}

#form a.botao {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color1);
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: var(--color1dark);
  margin-top: 5px;
  padding-top: 7px;
  transition-duration: 0.5s;
}

#form a.botao:hover {
  color: white;
  background-color: var(--color1);
}
