@charset "UTF-8";

:root {
  --color1: #49a09d;
  --color2: #5f2c82;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color2);
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

section#login {
  display: block;
  width: 250px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.45);
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

#login h1 {
  text-align: center;
}

#login p {
  font-size: 0.8em;
}

#imagem {
  display: block;
  height: 200px;
  background: var(--color2) url('../images/pexels-andre-furtado-370717.jpg')
    no-repeat center center;
  background-size: cover;
}

#form {
  display: block;
  padding: 10px;
}

.campo input {
  width: 180px;
}
